<div class="relative mt-0 header-bg flex items-center justify-center">
    <h1 class="text-7xl font-bold text-center text-white">About Us</h1>
</div>

<main class="my-16">
    <section id=""
        class="relative flex flex-col space-y-4 md:space-x-24 md:flex-row w-full h-auto justify-center items-center">
        <div class="flex flex-col bg-white py-4 px-8 items-center min-w-64 w-64 h-80">
            <img src="/img/About/mision.png" alt="Team Work Picture" class="w-32 h-32 object-cover mb-4">
            </img>
            <p class="text-3xl font-bold mb-3">
                Team work
            </p>
            <p class="text-1xl text-center text-gray-500">
                Working together towards shared success, we believe that unity creates exceptional strength.
            </p>

        </div>

        <div class="flex flex-col bg-white py-4 px-8 items-center min-w-64 w-64 h-80">
            <img src="/img/About/teamwork.png" alt="Vision Picture" class="w-32 h-32 object-cover mb-4">
            </img>
            <p class="text-3xl font-bold mb-3">
                Our vision
            </p>
            <p class="text-1xl text-center text-gray-500">
                To become the leading tour rental platform, offering unforgettable travel experiences to customers
                worldwide.
            </p>
        </div>

        <div class="flex flex-col bg-white py-4 px-8 items-center min-w-64 w-64 h-80">
            <img src="/img/About/vision.png" alt="Mission Picture" class="w-32 h-32 object-cover mb-4">
            </img>
            <p class="text-3xl font-bold mb-3">
                Our mision
            </p>
            <p class="text-1xl text-center text-gray-500">
                To provide quality, safe, and convenient services, making every journey complete and meaningful.
            </p>
        </div>

    </section>
</main>