<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <title>ManageTour</title>
    <meta name="description" content="Manage Tour Home">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="login">
        <div class="grid grid-cols-[2fr_1fr] p-10">
            <div class="bg-cover bg-center w-full h-full p-28"
                style="background-image: url('/img/Contract_Log_Sign/background_register.jpg')">
                <h1 class="font-bold text-white text-3xl ml-10 mt-56"> GoFinance </h1>
                <p class="text-white ml-10"> The most popular peer to peer lending at SEA </p>
                <button class="bg-blue-500 py-1 px-4 ml-10 rounded-full mt-3 text-white"> Read more </button>
                <div class="mt-48"></div>
            </div>
            <div class="mt-64 pl-16 pr-16">
                <h1 class="font-bold text-2xl"> Hello Again! </h1>
                <p> Welcome Back </p>
                <div class="grid grid-rows-7 mt-7 gap-y-4">
                    <input type="text" placeholder="🖂 Email Address"
                        class="rounded-full border border-gray-400 p-3 text-gray-400" />
                    <input type="text" placeholder="🔒 Password"
                        class="rounded-full border border-gray-400 p-3 text-gray-400" />
                    <a href="/" class="flex items-center justify-center rounded-full p-3 text-white bg-blue-700">
                        Login
                    </a>
                    <p class="text-gray-500 p-3 text-center"> Forgot Password </p>
                    <p class="text-gray-500 text-center"> <a href="/register">Register</a> </p>

                    <button class="rounded-full border border-gray-400 p-3 flex justify-center gap-2">
                        <img src="/img/Contract_Log_Sign/Google_emoji.jpg" alt="google_emoji" class="h-5 w-5" />
                        <span> Sign in with Google </span>
                    </button>
                    <button class="rounded-full border border-gray-400 p-3 flex justify-center gap-2">
                        <img src="/img/Contract_Log_Sign/Facebook_emoji.jpg" alt="facebook_emoji" class="h-5 w-5" />
                        <span> Sign in with Facebook </span>
                    </button>
                </div>
                <!--<p class="text-gray-500 p-3 text-center"> --------------Sign in with-------------- </p>-->
            </div>
        </div>

    </section>
</body>

</html>