<!-- Tips & Article Section -->
<section class="mx-8 md:mx-16 py-18 mt-44 mb-16">
    <div class="mb-8 flex flex-col md:flex-row justify-around">
        <div class="w-2/3">
            <h2 class="text-4xl md:text-6xl font-semibold mb-4">Tips and attractions</h2>
            <p class="text-lg font-medium text-gray-600 mb-8">Here is a collection of useful tips and famous tourist
                destinations that you should not miss. From tips to help you save money, optimize your luggage to
                how to make the most of famous attractions, we want to provide you with the best luggage for your
                trip. These famous places not only have natural beauty, unique culture but also bring unique and
                unforgettable experiences. Let's explore great places and receive interesting travel tips from us!
            </p>
        </div>
        <p class="self-end block py-3.5 px-7 bg-black hover:bg-gray-800 rounded-full text-center"><a
                class="font-semibold text-2xl text-white" href="#!">View More</a></p>
    </div>

    <!-- Articles Grid -->
    <div class="grid gap-6 md:grid-cols-10">
        <div class="flex gap-10 flex-col md:col-span-4">
            <!-- Article 1 -->
            <div class="bg-white rounded-lg shadow-lg p-6">
                <p class="text-2xl text-gray-500 Tips">Tips | Travel</p>
                <h2 class="text-4xl font-medium font-semibold mt-2 py-4">How Do I Choose a Tour Package? (Best 8
                    Tips) <br>-</h2>
                <p class="text-lg font-light text-gray-600 mt-2">How do I choose a tour package? You can choose the
                    best tour package by considering significant factors like budget, destination, refund
                    conditions, etc.</p>
                <button class="mt-20 px-8 py-3 bg-black text-white rounded-full"><a class="text-2xl font-medium"
                        target="_blank" rel="noopener noreferrer"
                        href="https://boundlessadventure.com/blog/how-do-i-choose-a-tour-package/">Read
                        More</a></button>
            </div>
            <!-- Article 3 -->
            <div class="bg-white rounded-lg shadow-lg p-6">
                <p class="text-2xl text-gray-500">Tips | Travel</p>
                <h2 class="text-4xl font-medium font-semibold mt-2 py-4">10 Ways To Really Enjoy a Vacation and Get
                    the Most of It <br>-</h2>
                <p class="text-lg font-light text-gray-600 mt-2">To help you make the most out of your trip and
                    embrace every joy that comes your way with open arms, below are some of the travel tips that you
                    would love to read till the end before embarking on the road to your destination.</p>
                <button class="mt-20 px-8 py-3 bg-black text-white rounded-full"><a class="text-2xl font-medium"
                        target="_blank" rel="noopener noreferrer"
                        href="https://www.outofyourcomfortzone.net/10-ways-to-really-enjoy-a-vacation-and-get-the-most-of-it/">Read
                        More</a></button>
            </div>
        </div>

        <!-- Article 2 (Larger Card) -->
        <div class="md:col-span-6 bg-white rounded-lg shadow-lg p-6">
            <img src="../img/Tour_detail/Attraction.jpg" alt="Family Travel" class="rounded-lg">
            <div class="py-6">
                <p class="text-2xl text-gray-500">Attraction | Introduction</p>
                <h2 class="text-4xl font-medium font-semibold mt-2 py-4">25 Top Tourist Attractions in Vietnam <br>-
                </h2>
                <p class="text-lg font-light text-gray-600 mt-2">Most travelers to Vietnam are attracted by the
                    country’s wonderful natural beauty: From the green rice fields in the north to the fascinating
                    bustle of the Mekong Delta in the south. Vietnam however is also a country with a long history
                    and ancient traditions.</p>
                <button class="mt-20 px-8 py-3 bg-black text-white rounded-full"><a class="text-2xl font-medium"
                        target="_blank" rel="noopener noreferrer"
                        href="https://www.touropia.com/tourist-attractions-in-vietnam/">Read More</a></button>
            </div>
        </div>
    </div>
</section>