<header class="sticky top-0 z-10">
    <nav id="navbar" class="flex items-center h-128 px-8 py-4 backdrop-blur-md select-none">

        <div class="logo-container w-36 mr-0 hidden lg:block">
            <a href="/" class="w-full h-auto">
                <img src="/img/logo.png" class="w-full h-auto" alt="logoTADTravels">
            </a>
        </div>

        <button id="menu-toggle" class="menu-button block lg:hidden z-20 relative p-0" aria-label="Toggle Menu">
            <img src="/img/list-button.png" alt="Menu" class="menu-icon w-6 h-6 transition-transform">
        </button>

        <ul class="nav-list flex px-4 text-white text-base md:space-x-12">
            <li><a href="/"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Home</a>
            </li>
            <li><a href="/about"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">About
                    Us</a></li>
            <li><a href="/tours?page=1"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tours</a>
            </li>
            <li><a href="/contact"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Contact</a>
            </li>
            <li><a href="/tips"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tips</a>
            </li>
        </ul>

        <ul class="flex space-x-8 justify-items-end ml-auto items-center">
            <li>
                <div class="search__container">
                    <input class="search__input" autocomplete="off" id="searchInput" type="text" placeholder="Search">
                    <button class="search__button" id="searchButton"></button>
                </div>
            </li>

            <form action="/cart" method="GET" id="cartForm" class="relative">
                <input type="hidden" name="cartDataArray" id="cartDataArrayInput">
                <button type="submit" class="relative bg-transparent border-none">
                    <span class="fas fa-solid fa-cart-shopping text-white text-3xl"></span>
                    <span id="cartCount"
                        class="absolute top-0 right-0 transform translate-x-1/2 translate-y-1/2 bg-green-600 text-white text-xs rounded-full px-2 py-1"></span>
                </button>
            </form>

            {{#if user}}
            <!-- User button and dropdown -->
            <li class="relative">
                <button id="registeredUser_btn" class="text-white text-base flex items-center focus:outline-none">
                    <span class="hidden lg:block">{{user.userName}}</span>
                    <img src="/img/user-icon.png" class="ml-2 w-8 h-8 rounded-full border-none">
                    <svg class="ml-2 w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>

                <ul id="registeredUser_menu"
                    class="absolute right-0 mt-2 w-56 bg-white border border-gray-300 shadow-lg z-10 hidden text-left flex flex-col">
                    <li>
                        <a href="/user" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                            <i class="fa fa-user mr-2"></i> Your Information
                        </a>
                    </li>
                    <li>
                        <form id="logoutForm" action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-left">
                                <i class="fa fa-sign-out-alt mr-2"></i> Logout
                            </button>
                        </form>
                    </li>
                </ul>

            </li>

            {{else}}
            <!-- If no user is logged in, show the Login button -->
            <li>
                <a href="/login" class="button bg-user-icon flex items-center justify-center">
                    <span class="sr-only">User</span>
                </a>
            </li>
            {{/if}}

        </ul>

    </nav>
</header>

<script src="/js/navbar.js"></script>