<header class="sticky top-0 z-10">
    <nav class="navbar flex items-center h-128 px-4 md:px-8 py-4 backdrop-blur-md">

        <div class="w-24 md:w-36 mr-0 block">
            <a href="/" class="w-full h-auto">
                <img src="/img/logo.png" class="w-full h-auto" alt="logoTADTravels">
            </a>
        </div>

        <ul class="flex px-4 text-white text-xs md:text-base space-x-3 md:space-x-12">
            <li><a href="/"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Home</a>
            </li>
            <li><a href="/about"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">About
                    Us</a></li>
            <li><a href="/tours"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tours</a>
            </li>
            <li><a href="/contact"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Contact</a>
            </li>
        </ul>

        <ul class="flex space-x-4 md:space-x-12 justify-items-end ml-auto">
            <li>
                <button class="button bg-search-icon w-3 md:w-5 h-3 md:h-5 flex items-center justify-center">
                    <span class="sr-only">Search</span>
                </button>
            </li>
            <li>
                <a href="/login" class="button bg-user-icon w-3 md:w-5 h-3 md:h-5 flex items-center justify-center">
                    <span class="sr-only">User</span>
                </a>
            </li>

        </ul>
    </nav>
</header>